body{
    background-color: rgb(255, 214, 230);
}
.cat{
    width: 100%;
    height: 100vh;
}
.text{
    text-align: center;
    font-size: 5vh;
}
.cat img{
    display: grid;
    width: 40%;
    height: auto;
    padding-left: 30%;
    padding-right: 30%;
}